body {
  background: linear-gradient(45deg, #2f1c53, #a46dff, #f6d1fd);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #a46dff #f3f178d7;
  height: 100%;
}
.display {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  padding-top: 35px;
}
.profile-container {
  background: transparent !important;
  border-style: none;
}
.profile {
  border: 2px solid #007bff;
  border-radius: 15px;
  cursor: pointer;
  width: 150px;
  object-fit: cover;
  margin-bottom: 5px;
  display: block;
  transform: scale(1.2) rotateZ(calc(-14 * 1deg));
  transition: transform 0.2s ease-out;
}

.profile-2 {
  width: 150px;
  border: 2px solid #007bff;
  border-radius: 15px;
  cursor: pointer;
  object-fit: cover;
  margin-bottom: 5px;
  display: block;
  transform: scale(1.2) rotateZ(0);
  transition: transform 0.2s ease-out;
}
.button {
  background: radial-gradient(circle at 50%, #2f1c53, #a46dff, #f3f178d7);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  transform: scale(1.1);
}
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.info-screen {
  background: transparent;
}
