.heading {
  font-size: large;
}
.heading h1 {
  text-align: center;
}
.heading li {
  list-style-type: none;
}
.heading h5 {
  padding-left: 10px;
}
.link {
  /* font-size: medium; */
  color: black;
  display: inline;
}
